$main-color: #1B263B; 
$small-text: #ffffff;
$gray-text: #4F4F4F;
$card-width: 320px;
$dot-size: 10px;
$phone: 600px;  
$tablet: 1024px;  


.page {
  display: flex;
  min-height: 100vh;
  position: relative;
  padding-top: 2rem;


  .textSection {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    position: relative;
    z-index: 2;
    color: $main-color;

    h1 {
      font-size: 3.5rem;
      margin-bottom: 3rem;
      font-weight: 900;
      letter-spacing: .1rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 2rem;
    }

    .buttonGroup {
      display: flex;
      justify-content: center;
      text-align: center;
      gap: 1.5rem;
      width: 80%;
      padding-top: 4rem;
    }
    
    .buttonGroup > * {
      flex: 1;
      min-width: 160px;
    }
  }
  .imageSection {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    .imageWrapper {
      position: relative;
      width: 100%;
      height: 50%;
      max-width: 600px;
      aspect-ratio: 3 / 2;

      .landingImg {
        object-fit: cover;
      }
    }
  }

  @media (max-width: $tablet) {
    padding-top: 0;
      .textSection {
        width: 100%;          
        padding-right: 20%;  
        padding-bottom: 30%; 

        .buttonGroup {
          gap: 2.5rem;
          text-align: center;
          display: flex;
          align-items: center;


          width: 100%;
          padding-top: 5rem;
        }
      }
  
      .imageSection {
        width: auto;
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        top: auto;
        z-index: 0;            
        pointer-events: none; 
  
        .imageWrapper {
          width: 65vw;
          height: calc(85vw * 2 / 3); 
        }
      }
    }
  }
  

  @media (max-width: $phone) {
    .page {
      padding-top: 4rem;
      flex-direction: column; 
      overflow-x: hidden;
      .textSection {
        width: 100%;
        text-align: left;
        padding: 6rem 0rem;
  
        h1 { 
        font-size: 2rem;
        padding: 0 2rem; 
        margin-bottom: 1rem;
      }
        p  { 
        font-size: 1rem; 
        padding: 0 2rem;
      }
  
        .buttonGroup {
          width: 65%;
          padding: 3rem 0;

          flex-direction: column;
        }
      }
  
      .imageSection {
        position: relative;
        width: 100%;
        height: 150px;
        margin: 1rem;
        padding-left: 4rem;
  
        .imageWrapper {
          position: relative; // Changed from absolute to keep it in flow
          width: 90%;
          transform: none;
        }
      }
    }
}




.features {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  

  .featureCard{
    background-color: $main-color;
    padding: 7rem 5rem;
    border-radius: 2rem;
    width: 80%;
    display: flex;
    margin: 0;
    gap: 2rem;

    .featurePhone {
        width: 50%;
        height: 100%;
        object-fit: cover;
        text-align: center;
    }

    .featureText {
      width: 50%;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 5rem;
      h1 {
        font-size: 4.5rem;
        margin-bottom: 1.5rem;
      }

      p {
        color: white;
      }

    }

    @media (max-width: $tablet) {
      flex-direction: column-reverse; 
      width: 85%;
      padding: 4rem 3rem;
      


      .featurePhone,
      .featureText {
        width: 100%; 
        text-align: center; 
      }

      .featureText {
        padding-bottom: 2rem;
        h1 {
          font-size: 3rem;
          padding: 2rem;
        }
        p {
          font-size: 1rem;
          color: white;
        }
      }
    }

    @media (max-width: $phone) {
      width: 80%;
      padding: 2rem;
      margin: 5rem 0;
      

      .featurePhone {
        width: 100%;
        height: auto;
        display: block;      

    }

    .featureText {
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: .9rem;
      }
    }
    }
  }
}

.controlSection {
  min-height: 90vh;
  background-color: #F1F5F9;
  padding: 2rem 0;

  
    

    h1 {
      font-size: 3.5rem;
      margin-bottom: 3rem;
      font-weight: 900;
      letter-spacing: .1rem;
      text-align: center;
      color: $main-color;
      padding: 2rem 0 0 0;
    }

    p {
      font-size: 1.5rem;
      font-weight: 300;
      text-align: center;
      color: $gray-text;
      padding: 1rem 5rem;
    }

    .cardsSection {
      padding: 2rem;
      display: flex;
      gap: 2.5rem;
      z-index: 0;


      .cardInvividual {
        background-color: #FFFFFF;
        border-radius: 2rem;
        flex: 1;
        padding: 1rem;
        border: 1px solid rgba(255, 255, 255, 0.6);
        box-shadow: 0 20px 50px rgba(15, 23, 42, 0.05);
        transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;

        &:hover {

          transform: translateY(-4px); 

          background-color: #f0f2f431; 

          box-shadow: 0 25px 50px -12px rgba(15, 23, 42, 0.1); 
        }

        h3 {
          color: $main-color;
          padding: 1.5rem;
          font-size: 2rem;
        }

        p {
          color: $gray-text;
          padding: 1.5rem;
          font-size: 1.5rem;
          text-align: left;
        }

        .controlImg {
          width: 100%;
          height: 18rem;
          border-top-left-radius: 2rem;
          border-top-right-radius: 2rem;
          object-fit: cover;
          z-index: 1000;
        }
      }
    }

    @media (max-width: $tablet) {

      h1 {
        font-size: 3rem;
      }

      .cardsSection {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        text-align: center;


        .cardInvividual {
          max-width: 65%;
          border-radius: 1.5rem;
          margin: 0 auto;

          .controlImg {
            height: 18rem;
            width: auto;
            
          }
        }
      }

    }

    @media (max-width: $phone) {

      h1 {
        font-size: 2rem;
      }
      .cardsSection {
        .cardInvividual {
          max-width: 90%;
          border-radius: 1.5rem;
          margin: 0 auto;
          padding: 1rem;

          .controlImg {
            height: 15rem;
            width: auto;
            
          }
        }
      }

    }

    
}






.safeToSpend {

  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  

  .safeCard{
    background-color: $main-color;
    padding: 7rem 5rem;
    border-radius: 2rem;
    width: 80%;
    display: flex;

    .safePhone {
        width: 50%;
        height: 100%;
        object-fit: cover;
        text-align: center;
    }

    .safeText {
      width: 50%;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 5rem;
      h1 {
        font-size: 4.5rem;
        margin-bottom: 1.5rem;
      }

      p {
        color: $small-text;
      }

      .buttonSafe {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0;

        .arrowOnly {
          padding: 0;
          margin: 0;
          filter: invert(1);
          height: 1.5rem;
        }

      }
    }

    @media (max-width: $tablet) {
      flex-direction: column; 
      width: 88%;
      padding: 2rem 2rem;
      align-items: center;

      .safeText {
        width: 90%;
        text-align: center;
        color: white;

        h1 {
          padding: 1rem;
          font-size: 3rem;
        }

        p{
          color: white;
          font-size: 1rem;
        }

        .buttonSafe {
          justify-content: center;
          padding: 3rem 0 0 0;
        }
      }

      .safePhone {
        
      }
      
    }
  }

  @media (max-width: $phone) {

    .safeCard {
      width: 80%;
      padding: 2rem;
      margin: 5rem 0;

      .safePhone {
        width: 100%;
    }

    }

  }
  
}



.testimonials {
  background-color: #FFF;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    font-weight: 900;
    letter-spacing: .1rem;
    text-align: center;
    color: $main-color;
    padding: 2rem 0 0 0;
  }

  p {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    color: $gray-text;
    padding: 1rem 5rem;
  }
  

  .testimonialsCard{
    background-color: #F1F5F9;
    padding: 5rem;
    border-radius: 1rem;
    width: 80%;
    box-shadow: 
      0 10px 20px rgba(0, 0, 0, 0.04), 
      0 2px 6px rgba(0, 0, 0, 0.04), 
      0 20px 40px rgba(0, 0, 0, 0.04);

    .buttonTestimonial {
      background-color: #FFF;
      color: $main-color;
      padding: 1rem 3rem;
      display: inline-flex;
      gap: 0.5rem;
      border-radius: 1rem;

      .arrowOnly {
        height: 1rem;
        text-align: center;
        
      }

      &.hover {
        background-color: $main-color;
        color: #FFF;
        transition: background-color 0.3s ease, color 0.3s ease;

        .arrowOnly {
          filter: invert(1);
        }
      }
    }


      .testimonialsGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        gap: 1rem;
        padding: 2rem 0;

        .card {
          background-color: #FFF;
          border-radius: 1.5rem;
          padding: 4rem 2rem;
          box-shadow: 
            0 10px 20px rgba(0, 0, 0, 0.02), 
            0 2px 6px rgba(0, 0, 0, 0.02), 
            0 20px 40px rgba(0, 0, 0, 0.04);

          &.cardLarge {
            grid-column: span 2;
            grid-row: span 2;

            padding-top: 8rem;

            @media (max-width: $phone) {
              padding-top: 2rem;
            }
          }

          &.cardMedium {
            grid-column: span 2;
            grid-row: span 1;
          }

          &.cardDark {
            background-color: #1a1a1a;
            color: white;

            p {
              color: white;
            }
          }
        }

        p {
          color: $gray-text;
          font-size: 1rem;
          text-align: left;
          padding: 2rem 0;
        }
      }
      .buttonSafe {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0;

        .arrowOnly {
          padding: 0;
          margin: 0;
          filter: invert(1);
          height: 1.5rem;
        }
    }
  }

  @media (max-width: $tablet) {
     h1 { font-size: 3rem; } 
     .testimonialsCard { 
      width: 90%; 
      padding: 3rem; 
      .testimonialsGrid { 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: auto auto auto; 
        gap: 1rem; 
        .card { 
          
          &.cardLarge { 
            grid-column: span 2; 
            grid-row: span 1; 
          } 
        } 
      }
    
  }
  }

  @media (max-width: $phone) {
    h1 {
      font-size: 3rem;
    }
  
    .testimonialsCard {
      width: 90%;
      padding: 3rem 1rem;
      border-radius: 0;
      margin: .1rem;
  
      .testimonialsGrid {
        display: grid;
        grid-template-columns: 1fr;   
        grid-template-rows: auto;  
        gap: 2rem;
  
        .card {
          padding: 2rem;
          border-radius: .5rem;
          grid-column: auto !important; 
          grid-row: auto !important;


        }

        &.cardLarge {
          padding-top: .2rem;
        }
        .cardMedium {
          display: none;
        }

        .cardDark {
          margin-bottom: 3rem;
        }
      }
    }
  }
  
}

.vault {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    font-weight: 900;
    letter-spacing: .1rem;
    text-align: center;
    color: $main-color;
    padding: 4rem 0 0 0;
  }

  p {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    color: $gray-text;
    padding: 1rem 5rem;
  }
  


  .vaultCards{
    display: flex;
    background-color: $main-color;
    padding: 7rem 5rem;
    border-radius: 2rem;
    width: 80%;
    margin-bottom: 5rem;

    .vaultDivider {
      width: .5px;
      padding: 0;
      background-color: #ffffffd9;
      border: none;
    }



    .vaultCard {
      h2 {
        color: #FFF;
        margin-bottom: 2.5rem;
      }
  
      p {
        color: #ffffffd1;
        text-align: center;
        font-size: .9rem;
        padding: 2rem 1rem 0 1rem;
      }
      display: flex;
      flex-direction: column;
      align-items: center;

      flex: 1;
      .vaultImg{
        width: auto;
        height: 10rem;
        object-fit: cover;
        z-index: 1000;
       filter: invert(100%);
       
      }
    }
    


  }

  @media (max-width: $tablet) {
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1rem;
      padding-bottom: 2rem;
    }

    .vaultCards{
      padding: 7rem 3rem;
      border-radius: 1rem;
      width: 82%;
      margin-bottom: 5rem;

      .vaultCard {
        h2 {
          font-size: 1.2rem;
        }
  
        p {
          font-size: 0.9rem;
          padding-top: 2rem;
          color: white;
        }
      }

    }

  }

  @media (max-width: $phone) {

    .vaultCards {
      display: flex;
      flex-direction: column;

      padding: 3rem 2rem;
      border-radius: 2rem;
      width: 80%;
      .vaultCard {

        padding: 1rem 2rem;
        .vaultP {
          border-bottom: none;
        }

        p {
          border-bottom: .5px solid #ffffff4c;
          padding-bottom: 2rem;
        }

        .vaultImg{
          width: auto;
          height: 5rem;
          
        }
        
      }
    }

  }

}

.ready {
  background-color: $main-color;
  min-height: 40vh;
  margin: 0;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  h1 {
    color: white;
    text-align: center;
    padding: 2rem 0 1rem 0;
  }

  p {
    color: white;
    text-align: center;
    padding: 2rem;
  }

  .readyButtons {
    display: flex;
    justify-content: center;
    gap: 8.5rem;
    padding: 2rem;


    .buttonVault {
      background-color: white;
      color: $main-color;
      display: inline-flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem 4rem;

      .arrowOnly {
        height: 1rem;
        text-align: center;
        
      }
    }
    .buttonVault2 {
      background-color: transparent;
      border: 2px solid white;
      color: white;
      padding: 1rem 4rem;
    }
  }

  @media (max-width: $tablet) {
    min-height: 40vh;

  }

  @media (max-width: $phone) {
   .readyButtons {
      flex-direction: column;
      gap: 1.5rem;

      .buttonVault {
        padding: 1rem 3rem;
        text-align: center;
      }

      .buttonVault2 {
        padding: 1rem 3rem;
        text-align: center;
      }
   }

  }


  
}

.footer {
  background-color: #0F182A;
  min-height: 30vh;
  padding: 5rem 2rem 0 2rem;
  margin: 0;

  .footerSection {
    display: flex;
    padding: 2rem 5rem;
    gap:  2rem;

    
    h2 {
      color: white;
      margin-bottom: 1rem; 
    }
  
    p {
      color: white;
      padding: 0.25rem 0;
      font-size: 0.95rem; 
      line-height: 1.4;   
    }

  .footerMain {
    flex: 2;
    h1 {
      color: white;
      font-size: 2rem;
    }
    p {
      color: white;
      padding: 0.5rem 0;  
      font-size: 1rem;    
      line-height: 1.4;
    }
  }
  }

  .footerLine {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #525252;
  }

  .footerBottom {
    display: flex;
    flex-direction: column;
    p {
      color: #ffffff;
      text-align: center;
      padding: 1rem;
    }
    .designedBy {
      color: #c4c4c4;
      text-align: center;
      padding: 1rem;
    }
  }

  .lastFooter {
    padding: 4rem 0 1rem 0;
  }

  @media (max-width: $tablet) {


    .footerSection {
      display: flex;
      padding: 2rem 2rem;

    }

  }

  @media (max-width: $phone) {
    .footerSection {
      flex-direction: column;
      padding: 2rem 1rem;

      .footerMain {
        h1 {
          font-size: 1.5rem;
        }
        p {
          font-size: 0.9rem;
        }
      }
    }

  }
}